.main {
  background-image: url('../../../public/image/view-food-assortment-with-copy-space.jpg');
  background-size: cover;
 
}
.message{
  background:transparent
  
}

.sub {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  flex-direction: column;
  background: transparent;
  margin-left: 450px; /* Adjust margin for larger screens */
  margin-top: 40px;
  color: rgb(219, 133, 21);
}

.social {
  margin-top: 20px;
  padding-left: 200px;
  justify-content: space-between;
}

.cnt {
  color: rgb(37, 23, 4);
  font-style: italic;
  text-decoration: underline;
  padding-bottom: 10px;
}

.mail:hover, .phone:hover {
  color: rgb(27, 21, 2);
}

.add, .mail, .phone {
  display: flex;
  padding: 5px;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .sub {
      flex-direction: column;
      align-items: center; /* Center items in column direction */
      justify-content: space-between;
      gap: 20px;
      margin: 0; /* Remove horizontal margin */
  }

  .contact {
      margin-left: 0; /* Adjust margin for smaller screens */
      margin-top: 20px; /* Adjust margin-top for spacing */
  }

  .social {
      padding-left: 0; /* Remove left padding */
      flex-direction: row;
      justify-content: space-around; /* Distribute items evenly */
  }
}
