.footer {
    background-image: url(../../../public/image/cutlery-near-twig-leaves.jpg);
    background-size: cover;
    color: white;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0; /* Remove fixed margin */
  }
  
  .footer-logo {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-description {
    margin-bottom: 20px;
    max-width: 80%;
  }
  
  .footer-contact-info {
    margin-bottom: 50px;
    max-width: 80%;
  }
  
  .footer-userlink {
    margin-bottom: 50px;
  }
  
  .footer-contact-info h6 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer-contact-info .a :hover{
        color: #e65100;
  }
  .footer-social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .footer-social-icons a {
    color: white;
    margin: 0 10px;
  }
  .footer-social-icons a:hover{
    color: red;
  }
  
  .footer-bottom {
    background-color: #e65100;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  
  /* Media Queries for Responsiveness */
  @media (min-width: 600px) {
    .footer-container {
      flex-direction: column;
      align-items: center; /* Align items to the center */
      text-align: center; /* Center text alignment */
      margin-left: 0; /* Remove fixed margin */
    }
  
    .footer-description,
    .footer-contact-info {
      max-width: 400px;
    }
  }
  
  @media (min-width: 768px) {
    .footer-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; /* Align items to the top */
      text-align: left;
    }
  
    .footer-description,
    .footer-contact-info {
      max-width: 45%;
      margin-bottom: 0; /* Remove bottom margin for side-by-side layout */
    }
  
    .footer-social-icons {
      justify-content: flex-start;
      margin-top: 0;
    }
  }
  
  @media (min-width: 1024px) {
    .footer-container {
      margin-left: 300px; /* Add margin for larger screens */
    }
  
    .footer-description,
    .footer-contact-info {
      max-width: 400px;
    }
  }
  