.add_recipe{
    display: flex;
    flex-direction: column;
    background-image: url(../../../public/image/view-food-assortment-with-copy-space.jpg);
    background-size: cover;
    
}
.boxA{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color:#e2e0dd;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    padding: 32px;
    gap: 30px;
    border-radius: 40px;
    box-shadow: 5px 5px 10px #212222;
}
.boxA:hover{
    box-shadow: 10px 10px 20px #352929;
}
@media only screen and (max-width: 600px) {
    .boxA {
        margin: 20px auto;
        max-width: 90%; 
        margin-right: 0; 
}
}